<html ng-app="calculatorApp">
    <head>
        <title>Calculator App</title>
        <link rel="stylesheet" href="css/calculator.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body style="text-align: center; background: #AFD7F1; width: auto;">
        <h1>My Calculator App</h1>
        <div ng-controller="CalculatorCtrl as ctrl">
            <input type="text" ng-model="ctrl.input1" placeholder="digit 1">
            <span ng-bind="ctrl.selectedOperation"></span>
            <input type="text" ng-model="ctrl.input2" placeholder="digit 2">
            <button ng-click="ctrl.computeResult()">=</button>
            <span ng-bind="ctrl.resultValue"></span>
            <p class="button">
                <!--<div class="row">-->
                    <!--<div class="col-md-3 one">-->
                        <!--<button ng-click="ctrl.buttonClicked('+')"><b>CE</b></button>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<button ng-click="ctrl.buttonClicked('-')"><b>C</b></button>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<button ng-click="ctrl.buttonClicked('*')"><b>%</b></button>-->
                    <!--</div>-->
                    <!--<div class="col-md-3">-->
                        <!--<button ng-click="ctrl.buttonClicked('/')"><b>&nbsp;X<sup>2</sup></b></button>-->
                    <!--</div>-->
                <!--</div>-->

            <div class="row">
                <div class="col-md-3 one">
                    <button ng-click="ctrl.buttonClicked('+')"><b>7</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('-')"><b>8</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('*')"><b>9</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('/')"><b>/</b></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 one">
                    <button ng-click="ctrl.buttonClicked('+')"><b>4</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('-')"><b>5</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('*')"><b>6</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('*')"><b>X</b></button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 one">
                    <button ng-click="ctrl.buttonClicked('+')"><b>1</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('-')"><b>2</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('*')"><b>3</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('-')"><b>-</b></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 one">
                    <button ng-click="ctrl.buttonClicked('+')"><b>.</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('-')"><b>0</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('*')"><b>=</b></button>
                </div>
                <div class="col-md-3">
                    <button ng-click="ctrl.buttonClicked('+')"><b>+</b></button>
                </div>
            </div>

            </p>
        </div>
    </body>
</html>