<html ng-app="calculatorApp">
    <head>
        <title>Calculator App</title>
        <link rel="stylesheet" href="css/calculator.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body id="background" ng-controller="calculatorCtrl">
        <h1 style="text-align: center;">My Calculator App</h1>
        <div class="container">
            <div class="display text-right"><input type="text" value="{{display}}" size="100%" id="display" readonly></div>
            <div class="keys">
            <p class="button">
                <div class="row">
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="mrc" ng-click='c(not defined)'>
                        </button>
                    </div>

                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="+/-" ng-click='math("+/-")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="%" ng-click="%">
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="&divide" ng-click='math("/")'>
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="7" ng-click='math("7")'>
                        </button>
                    </div>

                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="8" ng-click='math("8")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="9" ng-click='math("9")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="x" ng-click='math("*")'>
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="4" ng-click='math("4")'>
                        </button>
                    </div>

                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="5" ng-click='math("5")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="6" ng-click='math("6")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="-" ng-click='math("-")'>
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="1" ng-click='math("1")'>
                        </button>
                    </div>

                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="2" ng-click='math("2")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="3" ng-click='math("3")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="+" ng-click='math("+")'>
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="0" ng-click='math("0")'>
                        </button>
                    </div>

                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="." ng-click='math(".")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="c" ng-click='c("")'>
                        </button>
                    </div>
                    <div class="col-md-3 one">
                        <button>
                            <input type="button" class="button" value="=" ng-click='e()'>
                        </button>
                    </div>

                </div>



            </p>
            </div>
        </div>
    </body>
</html>